<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Forum</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <header class="header-box">
            <div class="header-logo" @click="showPage('home')">Page Name</div>
            <nav class="header-nav">
                <ul class="nav-list">
                    <li class="nav-item" @click.prevent="showPage('browse')">Browse Media</li>
                    <li class="nav-item" @click.prevent="showPage('social')">Social</li>
                    <li class="nav-item" @click.prevent="showPage('forum')">Forum</li>
                </ul>
            </nav>
            <div class="header-user-info">
                <span class="username">{{ username }}</span>
                <div class="dropdown">
                    <button class="dropdown-button" @click="toggleDropdown">▼</button>
                    <ul class="dropdown-menu" v-if="dropdownOpen">
                        <li class="dropdown-item" v-if="isAuthenticated" @click.prevent="showPage('profile')">Profile
                        </li>
                        <li class="dropdown-item" v-if="isAuthenticated" @click.prevent="logoutUser">Logout</li>
                        <li class="dropdown-item" v-else @click.prevent="showPage('authentication')">Login/Register</li>
                        <li class="dropdown-item" @click.prevent="showPage('settings')">Settings</li>
                    </ul>
                </div>
            </div>
        </header>

        <!-- Home Page Content -->
        <div v-if="currentPage === 'home'" class="home-page">
            <div class="left-wrapper">
                <div class="left-container">
                    <div class="heading-wrapper">
                        <p>Home</p>
                    </div>
                </div>
            </div>
            <div class="right-wrapper">
                <div class="right-container">
                    <div class="heading-wrapper">
                        <p>Community</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Browse Media Page Content -->
        <div v-if="currentPage === 'browse'" class="browse-page">
            <div class="left-wrapper">
                <div class="left-container">
                    <div class="heading-wrapper">
                        <p>Browse Media</p>
                    </div>
                    <input type="text" v-model="searchQuery" @input="searchMedia" placeholder="Search for media..."
                        class="search-bar">
                </div>
                <div v-if="searchQuery.trim().length > 0 && visibleResults.length > 0" class="search-results-container">
                    <div v-for="(result, index) in visibleResults" :key="result.media_id" class="search-result-box">
                        <img @click.prevent="viewMediaInfo(result._id)" :src="result.main_picture" alt="Poster"
                            class="result-poster">
                        <div class="result-details">
                            <a @click.prevent="viewMediaInfo(result._id)" class="result-title">{{ result.title }}</a>
                            <p class="result-type">
                                {{ result.type }} -
                                {{ result.premiered_season }}
                                {{ extractYear(result.aired_from) }}
                                {{ extractYear(result.published_from) }}
                            </p>
                            <p class="result-synopsis">{{ result.synopsis.substring(0, 275) }}...</p>
                        </div>
                    </div>
                    <button v-if="showViewMore" @click="loadMoreResults" class="view-more-button">View More</button>
                </div>
            </div>
            <div class="right-wrapper">
                <div class="right-container">
                    <div class="heading-wrapper">
                        <p>Community</p>
                    </div>
                </div>
                <div class="right-container">
                    <div class="heading-wrapper">
                        <p>Statistics</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Media Information Page Content -->
        <div v-if="currentPage === 'mediaInfo'" class="media-info-page">
            <div class="left-wrapper">
                <div class="left-container">
                    <div class="media-header">
                        <h2>{{ media.title || "N/A" }}</h2>
                        <a :href="media.trailer_url || '#'" target="_blank" class="trailer-link">Watch Trailer</a>
                    </div>
                    <div class="media-info-wrapper">
                        <div class="poster-wrapper">
                            <img :src="media.main_picture || 'default-image-url.jpg'" alt="Poster" class="media-poster">
                            <div class="titles-wrapper">
                                <template v-for="field in titlesFields">
                                    <p
                                        v-if="media[field.key] && (Array.isArray(media[field.key]) ? media[field.key].length : true)">
                                        <strong>{{ field.label }}:</strong><br>
                                        {{ Array.isArray(media[field.key]) ? media[field.key].join(', ') :
                                        media[field.key] }}
                                    </p>
                                </template>
                            </div>
                        </div>
                        <div class="right-details">
                            <template v-for="field in detailsFields">
                                <p
                                    v-if="media[field.key] && (Array.isArray(media[field.key]) ? media[field.key].length : true)">
                                    <strong>{{ field.label }}:</strong>
                                    {{ Array.isArray(media[field.key]) ? media[field.key].join(', ') : media[field.key]
                                    }}
                                </p>
                            </template>
                        </div>
                        <div class="extra-stats">
                            <p><strong>Score:</strong><br> {{ media.score || "--" }}</p>
                            <p><strong>Scored By:</strong><br> {{ media.scored_by || "--" }}</p>
                            <p><strong>Members:</strong><br> {{ media.members || "--" }}</p>
                            <p><strong>Favourited:</strong><br> {{ media.favourites || "--" }}</p>

                            <h3>My List Entry:</h3>

                            <div class="media-list-control" v-if="isAuthenticated">
                                <button @click="inList ? toggleExtraActions() : addMediaToList(media.media_id)">
                                    {{ inList ? "EDIT - " : "ADD - " }}{{ media.title }}
                                </button>

                                <div v-if="inList && showExtraActions" class="media-list-actions">
                                    <button @click="removeMediaFromList(media.media_id)">Remove {{ media.title
                                        }}</button>

                                    <div class="score-section">
                                        <label>Score (1-10):</label>
                                        <input type="number" v-model.number="userScore" min="1" max="10" step="1">
                                    </div>

                                    <div class="favourite-section">
                                        <label>
                                            <input type="checkbox" v-model="userFavourited">
                                            Favourite
                                        </label>
                                    </div>

                                    <button @click="updateMediaEntry()">Update Changes</button>
                                </div>
                            </div>


                        </div>

                    </div>

                    <h2>Synopsis</h2>
                    <p>{{ media.synopsis || "No synopsis available." }}</p>
                    <h2>Background</h2>
                    <p>{{ media.background || "No background available." }}</p>
                </div>
            </div>

            <div class="right-wrapper">
                <div class="right-container">
                    <div class="heading-wrapper">
                        <p>Community</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Authentication Page -->
        <div v-if="currentPage === 'authentication'" class="authentication-page">
            <!-- Auth Container for Login -->
            <div v-if="isLoginFormVisible" class="auth-container">
                <h2 class="auth-heading">Login</h2>
                <form class="auth-form" @submit.prevent="loginUser">
                    <label for="login-email" class="auth-label">Email:</label>
                    <input type="email" id="login-email" v-model="loginEmail" class="auth-input"
                        placeholder="Enter your email">

                    <label for="login-password" class="auth-label">Password:</label>
                    <input type="password" id="login-password" v-model="loginPassword" class="auth-input"
                        placeholder="Enter your password">

                    <button type="submit" class="auth-button">Log In</button>
                </form>
                <p class="switch-link">
                    New user? <span class="link-text" @click="toggleForm">Create an account here.</span>
                </p>
            </div>


            <!-- Auth Container for Registration -->
            <div v-else class="auth-container">
                <h2 class="auth-heading">Register</h2>
                <form class="auth-form"
                    @submit.prevent="registerUser(registerEmail, registerPassword, registerUsername)">
                    <label for="register-email" class="auth-label">Email:</label>
                    <input type="email" id="register-email" v-model="registerEmail" class="auth-input"
                        placeholder="Enter your email">

                    <label for="register-username" class="auth-label">Username:</label>
                    <input type="text" id="register-username" v-model="registerUsername" class="auth-input"
                        placeholder="Choose a username">

                    <label for="register-password" class="auth-label">Password:</label>
                    <input type="password" id="register-password" v-model="registerPassword" class="auth-input"
                        placeholder="Enter your password">

                    <label for="confirm-password" class="auth-label">Confirm Password:</label>
                    <input type="password" id="confirm-password" v-model="confirmPassword" class="auth-input"
                        placeholder="Confirm your password">

                    <button type="submit" class="auth-button">Register</button>
                </form>

                <p class="switch-link">
                    Already have an account? <span class="link-text" @click="toggleForm">Log in here.</span>
                </p>
            </div>
        </div>


        <!-- Profile Page Content -->
        <div v-if="currentPage === 'profile'" class="profile-page">
            <div class="profile-container">
                <div class="profile-header">
                    <img :src="user.profile_picture || '/images/default-profile.png'" alt="Profile Picture"
                        class="profile-image">
                    <div class="profile-info">
                        <div class="profile-name-row">
                            <h2 class="profile-displayName">
                                {{ user.displayName || user.username || "Guest" }}
                            </h2>
                        </div>
                        <p class="profile-createdAt">
                            Joined: <span>{{ joinedDate }}</span>
                        </p>
                        <div v-if="editMode" class="profile-picture-upload">
                            <input type="file" @change="handleFileUpload" accept="image/*" />
                        </div>
                    </div>
                </div>

                <!-- Profile Bio/Other Section -->
                <div class="profile-bio">
                    <div v-if="editMode">
                        <textarea v-model="editedBio" class="profile-bio-input"
                            placeholder="Enter your bio..."></textarea>
                    </div>
                    <div v-else>
                        <p>{{ user.bio || "No biography has been set for this user yet." }}</p>
                    </div>

                </div>

            </div>

            <div class="profile-button-container" v-if="isAuthenticated">
                <button class="profile-edit-button" @click="toggleEditMode">
                    {{ editMode ? "Save Changes" : "Edit Profile" }}
                </button>
            </div>
        </div>



    </div>
    <script src="vue-app.js"></script>
</body>

</html>